/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,300&display=swap');

/* Al definir el 60% para el font-size, estandarizamos y luego usamos rem, 3 rem serán 30px
html {
    box-sizing: border-box; 
    font-size: 60.0%; /* 1REM = 10px 
*/
*, *:before, *:after {
    margin: 0;
	padding: 0;
}
/* Variables en la raíz para futuros usos, colores a modificar de acuerdo al gusto*/
/* Manera de usar variables  */
/* background: var(--color-pri); */
/* font-size: var(--font-family); */
:root{
    --col-black: #000;
    --col-white: #fff;
    
    --col-pri: #358dda;
    --col-pri-dye: #2048ab;
    --col-pri-light: #12a9db;

    --col-aluminium-light: #eeeeec;
    --col-aluminium-medium: #ded7cf;
    --col-aluminium-dye: #babdb6;

    --font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: var(--col-aluminium-light);
}
/* Ejemplo de uso */
.titlePrincipal{
    color: var(--col-black);
    font-family: var(--font-family);
    font-size: 4rem;
}

.red{
    background-color: red;
}